html {
    font-size: 62.5%;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: #ccc;

    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    position: absolute;
    width: 30rem;
    height: 15rem;
    top: -7.5rem;
    border-radius: 50%;
}

#glass {
    width: 30rem;
    height: 55rem;
    background-color: #e3f8ff;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-left: solid 1px #CCC;
    border-right: solid 1px #CCC;
}

#glass > .top {
    background-color: #f2fcff;
    left: -.1rem;
    border: solid 1px #d9d9d9;
}

#water {
    width: 30rem;
    height: 35rem;
    background-color: #a1f0ff;
    position: relative;
}

#water > .top {
    position: absolute;
    background-color: #a1f0ff;
    border: solid 1px #89ccd9;
    box-sizing: border-box;
}

#water > .bottom {
    width: 30rem;
    height: 15rem;
    border-radius: 50%;
    position: absolute;
    bottom: -7.5rem;
    background-color: #a1f0ff;
    box-sizing: border-box;
    border: solid 1px #89ccd9;
}

.bubble {
    position: absolute;
    width: .8rem;
    height: .4rem;
    opacity: .75;
    background: #FFF;
    border-radius: 50%;
    border-left: solid 1px #b4b4b4; 
    border-bottom: solid 1px #b4b4b4; 
    z-index: 20;
    transition: top 0.5s ease-in-out, opacity 0.75s ease-in-out;
    transition-delay: 0s, 0.5s;
}

.bubble-wrapper {
    width: 100%;
    height: 100%;
}

.bubble-wrapper .bubble:nth-of-type(1) {
   top: 60%; 
   left: 40%;
}

.bubble-wrapper .bubble:nth-of-type(2) {
   top: 30%; 
   left: 80%;
}

.bubble-wrapper .bubble:nth-of-type(3) {
   top: 10%; 
   left: 20%;
}

.bubble-wrapper .bubble:nth-of-type(4) {
   top: 80%; 
   left: 60%;
}

.bubble.pop {
    top: 0% !important;
    opacity: 0%;
}

#table {
    width: 125vw;
    height: 100vh;
    position: absolute;
    top: 60vh;
    background-color: #fde7f3;

    transform: rotateZ(10deg);
}
